.git
.gitignore
Dockerfile
Dockerfile.armhf
.dockerignore
docker/
.coveragerc
.eggs
.github
.pylintrc
.travis.yml
CONTRIBUTING.md
MANIFEST.in
README.md
coingro_controller.service
coingro_controller.egg-info

*.sqlite
user_data
*.log

.vscode
.mypy_cache
.ipynb_checkpoints

.env/
.pytest_cache/
*__pycache__
nohup.out
.pre-commit-config.yaml
git-execute.sh
.coveragerc
dist/
.mypy_cache
strategies/
user_data/
todo.txt
